<div class="container-fluid">
  <div class="productdetail_container">
    <div class="imagediv">
      <img
        src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJ1cmdlcnxlbnwwfHwwfHx8MA%3D%3D"
      />
    </div>
    <div class="detaildiv">
      <h1>Burger</h1>
      <h4>with cheese</h4>
     <div class="rating">
        <span class="star" >&#9733;</span>
        <span class="star" >&#9733;</span>
        <span class="star" >&#9733;</span>
        <span class="star" >&#9733;</span>
        <span class="star" >&#9733;</span>
      </div>
      <h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
        reiciendis sapiente facilis libero porro quia soluta, tenetur facere
        officia dolorem iste quo cumque ipsum nulla dolor suscipit id molestias
        voluptas.
      </h2>
    
      <div class="pricediv">
        <div class="pricename">Price</div>
        <div class="price2">RS.220</div>
      </div>
      <div class="Service_container">
        <div class="Service_container1">service</div>
        <div class="Service_container2"><div class="number">1</div></div>
      </div>
    </div>
  </div>
  <button class="addcartbutton">Add to cart</button>
</div>
