<div class="container-fluid">
  <div class="login_container">
    <div class="login_info">
      <div class="login_heading">Login</div>
      <form [formGroup]="loginForm" (ngSubmit)="loginsubmit()">
        <div>
          <label class="login_label">Email </label><br />
          <input
            formControlName="email"
            class="login_input"
            name="email"
            type="email"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Email is required',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'email',
              message: 'Email is invalid',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minLength',
              message: 'Email should have at least 3 symbols',
              control: loginForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Email should have maximum 360 symbols',
              control: loginForm.controls['email']
            }"
          ></ng-container>
        </div>
        <div class="login_label2">
          <label class="login_label"> Password</label><br />
          <input
            class="login_input"
            name="password"
            type="password"
            formControlName="password"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Password is required',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Password should have at least 3 symbols',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Password should have maximum 100 symbols',
              control: loginForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message:
                'Password should contain atleast uppercase, lowercase, special character,number and limit 8-20 must be required.',
              control: loginForm.controls['password']
            }"
          ></ng-container>
        </div>
        <div>
          <button class="login_button">submit</button>
        </div>
        <div class="login_span">
          <a [routerLink]="'/signup'"> Sign up for new user </a>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span class= "error" role="alert" style="color: white">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
