<div class="container-fluid">
  <div class="food_banner"></div>
  <div class="food_titel">
    <h1 class="food_titel_h1" style="padding-top: 20px">Our Menu</h1>
    <div class="wrapper flex-row wrapp-menu">
      <ul class="list-menu">
        <li><a class="">All</a></li>
        <li><a class="">Burgers</a></li>
        <li><a class="">Pizza</a></li>
        <li><a class="">Sneaks</a></li>
        <li><a class="">Pasta</a></li>
        <li><a class="">Salads</a></li>
        <li><a class="">Dessert</a></li>
        <li><a class="">Drinks</a></li>
      </ul>
    </div>
  </div>
  <div class="food_container">
    <div class="food_cart" *ngFor="let item of paginatedData">
      <div class="food_image">
        <img [src]="item.image" />
      </div>
      <div class="food_tag">
        <h2>{{ item.name }}</h2>
        <h3>₹{{ item.price }}</h3>
        <button class="food_button">Order Now</button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="food_pagination_container">
      <button
        class="food_pagination_button"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <button
        class="food_pagination_button"
        (click)="nextPage()"
        [disabled]="currentPage * itemsPerPage >= arrayData.length"
      >
        Next
      </button>
      <span class="food_pagination_span">Page {{ currentPage }}</span>
    </div>
  </div>
</div>
