
.product_container{
background-color: aqua;
width: 100%;
display: flex;
height: 580px;
}
.product_info{
 height: 450px;
 width: 550px;
 background-color: bisque;
 margin-top: 60px;
 margin-left: 27%;

}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight:bolder ;
    margin-top: 10px;
}
.add_form{
    margin-top: 30px;
}
.product_label{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
  
}
.product_input{
     margin-top: 30px;
     height: 28px;
     margin-left: 30px;
     display: inline-block;
     width: 60%;
  }
  .submit_button{
    margin-left: 37%;
    margin-top: 40px;
    width: 30%;
    height: 30px;
    font-weight: bolder;
    position: relative;

  }