<div class="container-fluid">
  <div class="product_container">
    <div class="product_info">
      <div class="heading">Product</div>
      <form [formGroup]="productForm" (ngSubmit)="productsubmit()" class="add_form" >
        <div>
          <label class="product_label">Name</label>
          <input
          style="margin-left: 55px;"
            type="text"
            class="product_input"
            name="name"
            formControlName="name"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Name is required',
              control: productForm.controls['name']
            }"
          ></ng-container>
        </div>
        <div>
          <label class="product_label">Price</label>
          <input
           style="margin-left: 60px;"
            type="text"
            class="product_input"
            name="price"
            formControlName="price"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Price is required',
              control: productForm.controls['price']
            }"
          ></ng-container>
        </div>
      <div>
          <label class="product_label">image</label>
          <input
           style="margin-left: 55px; "
            type="file"
            class="product_input"
            name="image"
            formControlName="image"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Image is required',
              control: productForm.controls['image']
            }"
          ></ng-container>
        </div>
        <div>
            <button class="submit_button">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert" style="color: white; margin-left: 155px;">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
