.container-fluid{
overflow: hidden;
}
.nav_banner {
  width: 100%;
  height: calc(100vh - 69px);
  max-height: 650px;
  display: flex;
}
.nav_banner_image {
  width: 100%;
  background-size: cover;
  background-image: url("http://www.nicdarkthemes.com/themes/restaurant/wp/demo/intro/img/parallax/splash-header-2.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  position: relative;
  transition: transform 0.3s;
  object-fit: cover;
}
.menudiv {
  width: 100%;
  display: grid;
}
.menudiv_heading {
  width: 100%;
  height: 120px;
  color: tomato;
  background-color: black;
  text-align: center;
  padding-top: 30px;
  font-family: "nautilus_pompiliusregular";
  font-size: 34px;
  border-top: 1px solid;
  border-color: red;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 200px;
  color: white;
  margin-left: 50px;
  margin-top: 40px;
  align-items: center;
  overflow: hidden;
}
.card:hover {
  color: yellow;
}
.card_div {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
}

.card_image {
  width: 20%;
  height: 150px;
  background-image: url("https://img.freepik.com/free-photo/freshly-italian-pizza-with-mozzarella-cheese-slice-generative-ai_188544-12347.jpg");
  position: relative;
  z-index: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #111;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}

.card_image:hover {
  transform: scale(1.2);
}
.card h3 {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  cursor: pointer;
}
 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container {
  padding: 2px 16px;
}

.food_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.food_container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
 }
 .food_container img:hover{
  transition: .3s ease-in-out;
  cursor: pointer;
 }
 .food_titel{
  text-align: center;
  justify-content: center;
 }

@media screen and (max-width: 767px) {
  .nav_banner {
    height: calc(100vh - 69px);
    max-height: 550px;
  }
  .menudiv_heading{
    font-size: 25px;
  }
}
