
<div class="container-fluid">
  <div class="register_container">
    <div class="regisrer_div">
          <div class="register_heading"><h1>SignUp</h1></div><br>
            <div class="register_info">
     
      <div class="register_form">
      
        <form>
            <div>
                <label class="register_label">First Name</label>
                 <input class="input_form" name="first_name"  style="margin-left: 25px;"/>
            </div>
         
          <div>
               <label class="register_label">Last Name</label>
             <input class="input_form" name="last_name" />
          </div>
         
          <div>
              <label class="register_label">Email</label>
               <input class="input_form" name="email" style="margin-left: 70px;"/>
          </div>
       
          <div>
            <label class="register_label">State</label>
              <select class="register_select" name="state" style="margin-left: 79px;">
            <option>hello</option>
              <option>hello</option>
              <option>hello</option>
          </select>
          </div>
        
          <div>
            <label class="register_label"> City</label>
               <select class="register_select" name="city" style="margin-left: 85px;">
              <option>hello</option>
                <option>hello</option>
                  <option>hello</option>
          </select>
          </div>
       
          <div>
            <label class="register_label" >Contact </label>
              <input class="input_form" name="contact_number" style="margin-left: 50px;"/>
          </div>
        
          <div>
            <label class="register_label">Zip code</label>
               <input class="input_form" name="zip_code" style="margin-left: 47px;"/>
          </div>
       
          <div>
            <label class="register_label">Gender</label>
            <select class="register_select" name="gender">
             <option>Male</option>
               <option>Female</option>
          </select>
          </div>
          
          <div>
              <label class="register_label">Address</label>
              <input class="input_form" name="address" style="margin-left: 50px;"/>
          </div>
        
          <div>
            <label class="register_label">Password</label>
              <input class="input_form" name="password" style="margin-left: 38px;"/>
          </div>
        
          <div>
            <button type="button" class="submit_button">submit</button>
          </div>
          
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
